body {
  background: linear-gradient(black 30%, purple);
  background-repeat: no-repeat;
  /* height: 100%;
  width: 100%; */
  margin: 0;
  height: 100vh;
}

nav {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
}

ul > li {
  display: flex;
  justify-content: center;
  margin-right: 100px;
  border: 5px solid lightgray;
  color: white;
  background: purple;
  /* padding: 5px 15px; */
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  margin-left: auto;
  text-align: center;
  list-style: none;
}

ul > li:hover {
  background: black;
}

header {
  margin-top: 50px;
}

button {
  background: transparent;
  outline: none !important;
  border: none;
  color: white;
}

#tetris {
  border: 10px solid lightgray;
  border-radius: 20px;
  background: black;
  margin-left: 25px;
}

/* Font options */
.tetris-header {
  text-shadow: 2px 2px 4px #000000;
  font-size: 80px;
  font-weight: bold;
  margin-top: 50px;

  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;

  /* Standar Syntax */
  animation: rainbow 5s infinite;
  position: relative;
  right: 50px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  30% {
    color: CadetBlue;
  }
  40% {
    color: yellow;
  }
  50% {
    color: coral;
  }
  60% {
    color: green;
  }
  70% {
    color: cyan;
  }
  80% {
    color: DeepPink;
  }
  90% {
    color: DodgerBlue;
  }
  100% {
    color: orange;
  }
}

/* Internet Explorer */
@-ms-keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  30% {
    color: CadetBlue;
  }
  40% {
    color: yellow;
  }
  50% {
    color: coral;
  }
  60% {
    color: green;
  }
  70% {
    color: cyan;
  }
  80% {
    color: DeepPink;
  }
  90% {
    color: DodgerBlue;
  }
  100% {
    color: orange;
  }
}

/* Standar Syntax */
@keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  30% {
    color: CadetBlue;
  }
  40% {
    color: yellow;
  }
  50% {
    color: coral;
  }
  60% {
    color: green;
  }
  70% {
    color: cyan;
  }
  80% {
    color: DeepPink;
  }
  90% {
    color: DodgerBlue;
  }
  100% {
    color: orange;
  }
}

.social {
  width: 50px;
  margin-bottom: 15px;
}

.score-level {
  color: white;
  margin-left: 100px;
}

p {
  margin-bottom: 0;
  color: white;
}

.lines {
  border: 5px solid lightgray;
  color: white;
  background: black;
  padding: 5px 15px;
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 20px;
  display: flex;
  width: 100px;
  height: 40px;
  justify-content: center;
}
.scorebox {
  border: 5px solid lightgray;
  color: white;
  background: black;
  padding: 5px 15px;
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 20px;
  display: flex;
  width: 200px;
  justify-content: center;
}

h4 {
  color: white;
}

.col {
  width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.next-piece,
#hold {
  border: 5px solid lightgray;
  color: white;
  background: black;
  padding: 5px 15px;
  border-radius: 10px;

  display: flex;
}

footer {
  margin-right: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
}

footer > a {
  margin-right: 20px;
}

.row {
  justify-content: center;
  margin-top: 20px;
}

.next-piece-div {
  position: relative;
  right: 70px;
}

/* modal */
.modal-content {
  border: 5px solid white;
  color: white;
  background: black;
  font-weight: bold;
  border-radius: 5px;
}

.close > span {
  color: white;
}

.btn-secondary {
  border: 2px solid white;
  background: purple;
}

.btn-secondary:hover {
  border: 2px solid purple;
  background: white;
  color: purple;
}

@media (max-width: 400px) {
  body {
    background-size: cover;
  }

  .next-piece-div {
    display: none;
  }

  #tetris {
    width: 350px;
  }

  .scorebox {
    width: 150px;
    margin-left: 10px;
  }
  .score-level {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  body {
    background-size: cover;
  }

  .instructions {
    margin: 10px auto;
  }

  .next-piece-div {
    display: none;
  }

  #tetris {
    width: 350px;
  }

  .scorebox {
    width: 150px;
    margin-left: 10px;
  }
  .score-level {
    justify-content: flex-start;
  }

  footer {
    margin-right: 100px;
    position: absolute;
    bottom: -30px;
    right: 0;
  }
}

@media (min-width: 1600px) {
  body {
    height: 100vh;
  }
}
